.page-container {
    display: flex;
    height: 100%;
    background: rgb(35, 42, 58);
}

.page-content-container {
    padding: 50px;
}

.sidebar {
    height: 100%;
    width: 300px;
    background: rgba(0, 0, 0, 0.2);
}

.list-items {
    padding-top: 100px;
}

.list-item {
    display: flex;
    align-items: center;

    position: relative;
    
    font-size: 18px;
    color: rgba(255, 255, 255, 0.85);
    padding: 10px 20px;
    font-family: 'Open Sans';
    cursor: pointer;
}

.list-item:hover {
    color: white;
}

.list-item.selected {
    color: white;
}

.list-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: pink;

    /* set opacity to 0 by default */
    opacity: 0;

    transform: scaleY(0);

    transition: transform 0.2s, opacity 0.2s;
}

.list-item:hover::before {
    opacity: 0.35;
    transform: scaleY(0.5) scaleX(2);
}

.list-item.selected::before {
    opacity: 1;
    transform: scaleY(1);
}

.list-item i.material-icons {
    margin-right: 12px;
    font-size: 24px;
}